body {
   background-image: url("wallpaper-2501884.png");

}

h1 {
    color: PapayaWhip;
     background-image: url("bg-heading.png");
     background-repeat: no-repeat;
     background-position: center;

}
.center {
    text-align: center;
}

div {
    width: 320px;
    padding: 10px;
    border: 5px solid gray;
    margin: 0;
}